<div class="edus-container">
    <div class="edus-box">
        <div class="edus-background">
            <div class="edus-ava">
                <%= image_tag current_user.image.to_s, :class => "avatar-size rounded-circle", :id => "regis-ava" %>
            </div>
        </div>
        <div class="regis-area">
            <div class="view-header-2">
                <span>
                    Student's registration
                </span>
            </div>
            <%= render 'form' %>
        </div>
    </div>
</div>
