<div class="stued-container">
    <div class="stued-area">
        <div class="stued-header">
            <h2>Dang ki lam hoc sinh</h2>
        </div>
          <%= render 'form' %>
    </div>
</div>
