<div class="stush-container">
    <div class="stush-area">
        <div class="stush-header">
            <div class="stush-header-1">

            </div>
            <div class="stush-header-2">
                <div class="stush-ava"></div>
                <div class="stush-header-2-content">
                    <h2> <%= @student.user.username %> </h2>
                    <h3> 
                        &ensp;
                        <%= link_to edit_student_path(@student) do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        </h3>
                    <div>Share</div>
                </div>
            </div>
            <div class="stush-header-3">
                <div class="stush-header-3-left">
                    Học viên <br/>
                    B point
                </div>
                <div class="stush-header-3-center">
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                    <div class="stush-header-3-center-sub">
                        <div class="sub-first-line">0</div>
                        Lớp đã tạo
                    </div>
                </div>
                <div class="stush-header-3-right">
                    <button class="btn btn-primary">Đăng yêu cầu tìm giáo viên</button>
                </div>
            </div>
        </div>
        <div class="stush-content">
            <div class="stush-content-header">
                Thông tin gia sư
            </div>
            Sinh viên tại đại học bách khoa Hà Nội
        </div>
    </div>
</div>
