<div class="edus-container">
  <div class="edus-box">
    <div class="edus-background">
      <div class="edus-ava">
        <%= image_tag @user.image.to_s, :class => "avatar-size rounded-circle", :id =>"regis-ava" %>
      </div>
    </div>
  </div>
    <div class="stued-container">
      <div class="stued-area">
        <div class="view-header-2">
              <span>
                  <i class="fas fa-chalkboard"></i>
                  Cập nhật hồ sơ gia sư
              </span>
        </div>
        <%= render 'form'%>
      </div>
      <%= link_to "Back", :back %>
    </div>
  <%# </div> %>
</div>
