</br> <h1 align="center">Listing all tutors</h1> </br>
<div class="offset-md-4 col-md-4">
<%= paginate @tutors, theme: 'twitter-bootstrap-4' %>
</div>
<%= render 'tutor', obj: @tutors %>
<div class="offset-md-4 col-md-4">
<%= paginate @tutors, theme: 'twitter-bootstrap-4' %>
</div>
<!-- <%= params.inspect %> -->
