<div class="stush-container">
    <div class="stush-area">
        <div class="view-header-2">
            <span>
                <i class="fas fa-chalkboard"></i>
                Danh sách gia sư
            </span>
        </div>
        <%= render 'tutor', obj: @tutors %>
        <div class="center-paginate">
        <%= paginate @tutors, theme: 'twitter-bootstrap-4' %>
        </div>

    </div>
</div>
