<div class="stued-container">
    <div class="stued-area">
        <div class="view-header-2">
            <span>
                <i class="fas fa-chalkboard"></i>
                Tutor's registration
            </span>
        </div>
          <%= render 'form' %>
          <%= params.inspect%>
    </div>
</div>