<%= render 'layouts/carousel'%>  

<section class="mad">
    <div class="mad-header">
        <div class="mad-hemer-1">
            <h2>Gia sư khắp cả nước</h2>
        </div>
        <div class="mad-heamder-2">
            <h2>Lượt truy cập hằng ngày</h2>
        </div>
        <div class="mad-headmer-3">
            <h2>Yêu cầu tìm gia sư</h2>
        </div>
    </div>
    <div class="mad-ytb">      <iframe width="560" height="315" src="https://www.youtube.com/embed/fcB2uf3y-R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
    <div class="mad-content">
        <!-- header -->
        <div class="mad-content-item show-on-scroll">
            <h3>
                Tìm gia sư theo công nghệ 4.0
            </h3>
       </div>
        <!-- content -->
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <div class="mad-content-item show-on-scroll">
            <div>
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div>
                <h4>Chất lượng</h4>
                <p>Gia sư được kiểm duyệt kỹ càng và đánh giá khách quan bởi phụ huynh.</p>
            </div>
            
        </div>
        <button class="mad-content-item btn btn-primary show-on-scroll">Đăng yêu cầu tìm gia sư</button>
    </div>
</section>
<%# footer %>
<%= render 'layouts/footer'%>  