        <div class="siup-container">
            <div class="siup-box">
                <div class="siup-area">
                    <div class="form-header">
                        <h2>Sign up form</h2>
                    </div>
                    <form class="form-area">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <!-- <label for="">User Name</label> -->
                                <input type="text" class="form-control" placeholder="User Name">
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <!-- <label for="">Password</label> -->
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="checkbox">
                            <label for="">I agree</label>
                        </div>
                        <button type="submit" class="btn btn-danger">Submit</button>


                    </form> 
                    <img src="/Img/sign-in-img.jpg" alt="">               
                </div>
            </div>
        </div>