@import 'bootstrap/dist/css/bootstrap';


$header_height:50px;


*{
    margin: 0;
    padding: 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
#root{
    background-image: linear-gradient(150deg,rgb(245, 234, 235), rgb(245, 185, 206), rgb(245, 234, 235));
    background-size: contain;
    // filter: brightness(2);
}

header{

    overflow: hidden;
    background-color: #1DA1F2;
    height: $header_height;
    display: flex;
    .logo-container{
        width: 10%;
        .logo-area{
            margin: 5px 0 0 0;  
            width: 0.8*$header_height;
            height: 0.8*$header_height;
            margin-left: 50px;

            // background-color: rgb(211, 175, 175);

            a{
                display: inline-block;
                width: 0.8*$header_height;
                height: 0.8*$header_height;
                // span{
                //     background-image: url(/Img/logo.png);
                //     background-repeat: no-repeat;
                //     background-size: 40px 466px;
                //     background-position: 0 0;
                //     display: block;
                //     height: 40px;
                //     outline: none;
                //     overflow: hidden;
                //     text-indent: -999px;
                //     white-space: nowrap;
                //     width: 40px;
                // }
                img{
                    width: 100%;
                }
            }
        }
    }
    .search-container{
        width: 40%;
        .search-area{
            display: flex;
            width: 90%;
            height: 0.6*$header_height;
            margin: 0.2*$header_height;
            #search-input{
                width: 85%;
                height: 100%;
                outline: none;
                border-radius: 5px 0 0 5px;
                border: solid 0px;
                text-indent: 15px;
            }
            #search-submit{
                width: 15%;
                height: 100%;
                border-radius: 0 5px 5px 0;
                border: solid 0px;
                outline: none;
                cursor: pointer;
            }
            #search-submit:hover{
                background-color: orange;
                color: white;
            }


        }
    }
    .nav-container{
        z-index: 1;
        width: 30%;
        .nav-area{
            width: 90%;
            height: 0.6*$header_height;
            margin: 0.2*$header_height;

            nav{
                // background-color: #e7e3e3;
                width: 100%;
                height: 100%;
                
                /* margin: 50px auto; */
            }
            ul.menu{
                position: absolute;
                & > li{
                    float: left;
                    list-style: none;
                    // position: relative;
                    a{
                        position: relative;
                        text-decoration: none;
                        display: block;
                        line-height: 30px;
                        padding: 0px 0.5em 0px 0.5em;
                        color: white;
                        position: relative;
                    }
                    a:hover{
                        background-color: white;
                        color:#1DA1F2;
                        transition: ease-in 0.3s;
                    }
                    ul.submenu{
                        position: absolute;
                        background-color: #1DA1F2;
                        display: none;
                        animation: submenu-display 1s;
                        li{
                            list-style: none;
                            a{
                                border-top: solid white 3px;
                                width: 200px;
                            }
                        }
                    }
                    @keyframes submenu-display {
                        from{
                            opacity: 0;
                            // transform: translateY(20%);
                            filter: hue-rotate(90deg);
                        }
                        to{
                            opacity:  1;
                            // transform: translateY(0%);
                            filter: hue-rotate(0deg);
                        }
                    }
                }
                li:hover ul.submenu{
                    display: block;
                    z-index: 2;
                }
                li.mactive > a{
                    // background-color: white;
                    // color: white;
                    border-bottom: white solid 3px ;
                    z-index: 1;
                    animation: borderEntrance 1s;
                }
            }
        }
    }
    .sign-container{
        width: 20%;
        height: 100%;
        .sign-area{
            width: 100%;
            display: flex;
            height: 0.6*$header_height;
            margin: 0.2*$header_height;
            justify-content: space-evenly;
            .sign-in-area{
                // width: 35%;
                text-decoration: none;
                height: 100%;
                // background-color: rgb(0, 255, 21);
                // margin-right: 0.5*$header_height;
                .sign-in-header{
                    width: 100%;
                    height: 100%;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                    cursor: pointer;
                    // display: flex;
                    line-height: $header_height*0.6;
                    padding: 0 5px 0 5px;
                    font-size: 0.9rem;
                }
                .sign-in-header:hover{
                    background-color: rgb(18, 17, 126);
                    color: white;
                }

            }
            .sign-up-area{
                text-decoration: none;
                // width: 35%;
                height: 100%;
                // background-color: rgb(255, 0, 179);
                .sign-up-header{
                    width: 100%;
                    height: 100%;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                    cursor: pointer;
                    // display: flex;
                    line-height: $header_height*0.6;
                    padding: 0 5px 0 5px;
                    font-size: 0.9rem;
                }
                .sign-up-header:hover{
                    background-color: rgb(18, 17, 126);
                    color: white;
                }

            }
        }
    }

}



// carousel

.carousel-container{
    width: 90%;
    margin: 5vh auto;
}

// sign-up sign-n

.siup-container{
    // height: 100vh;
    background-image: url("images/sign-up-background");
    background-size: cover;
    overflow: hidden;
    .siup-box{

        width: 60vw;
        // height: 90vh;
        background-color: white;
        margin: 5vh auto;
        border: solid 2px rgb(209, 206, 206);
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 240px 0px rgba(200,224,22,1);
        -moz-box-shadow: 10px 10px 240px 0px rgba(200,224,22,1);
        box-shadow: 10px 10px 240px 0px rgba(200,224,22,1);
        .siup-area{
            width: 50%;
            margin: 10vh auto;
            padding-bottom: 50px;
            .form-header{
                h2{
                    font-weight: 700;
                    text-align: center;
                    color: rgb(72, 185, 230);
                }
            }
            .actions{
                input{
                    margin-top: 10px;
                    // display: block;
                    width: 60%;
                    float: left;
                }
                a{
                    margin-top: 10px;
                    width: 35%;
                    // display: inline-block;
                    float: right;
                }
            }
            img{
                width: 100%;
                margin-top: 20px;
            }

        }

    }
}
.siup-container::before{
    content: "";
}

// User-edit

.edus-container{
    // height: 100vh;
    // background-image: url("images/sign-up-background");
    // background-size: cover;
    overflow: hidden;
    .edus-box{
        width: 90vw;
        // height: 90vh;
        background-color: rgb(255, 255, 255);
        margin: 5vh auto;
        border: solid 2px rgb(165, 159, 159);
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.75);
        .edus-background{
            height: 45vh;
            background-image: url("images/sign-up-background");
            background-size: cover;
            position: relative;
            border: solid gray 1px;
            border-radius: 1%;
            .edus-ava{
                position: absolute;
                width: 150px;
                height: 150px;
                background-color: red;
                left: 10%;
                top: 70%;
                border: double rgb(255, 255, 255) 5px;
                border-radius: 50%;
                background-image: url("images/sign-up-background");
                background-size: cover;
            }
            .edus-edit{
                position: absolute;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1em;
                right: 5%;
                bottom: 10%;
                a{
                    padding: 10px;
                    background-color: #0069D9;
                    display: block;
                    text-decoration: none;
                    color: white;
                    border: double 2px white;
                    border-radius: 10px;

                }
                a:hover{
                    background-color: white;
                    color:#0069D9;
                }
            }
        }

        .edus-nav-and-content{
            display: flex;
            justify-content: space-between;
            margin: 100px 20px;
            .edus-nav{

                width: 20%;
                height: fit-content;
                // background-color: tomato;
                display: flex;
                flex-direction: column;
                -webkit-box-shadow: 3px 5px 29px -16px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 5px 29px -16px rgba(0,0,0,0.75);
                box-shadow: 3px 5px 29px -16px rgba(0,0,0,0.75);

                .edus-nav-item{
                    cursor: pointer;
                    position: relative;
                    padding: 0 1em;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    border-bottom: gray solid 2px;
                    .fa-right{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                    }
                }

            }
            .edus-content{
                width: 78%;
                .edus-area{
                    width: 80%;
                    margin: 0 auto;
                    .edus-header{
                        h2{
                            margin-top: 10px;
                            font-weight: 700;
                            text-align: center;
                            color: rgb(72, 185, 230);
                        }
                    }
                    form{
                        .form-grid{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 1em;
                            .field{
                                font-size: 0.8rem;

                            }
                        }

                    }
                    // .field{
                    //     input{
                    //         background-color: rgb(255, 255, 255);
                    //     }
                    // }


                }
                .edus-content-item-style{
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    .edus-content-item-header{
                        width: 35%;
                        height: $header_height;
                        line-height: $header_height;
                        background-color: #069D86;
                        color: white;
                        // font-size: 1.2rem;
                        padding: 0 1em ;
                    }
                    .edus-content-item-content{
                        border-top: 2px solid #069D86;
                        padding: 20px 1em;
                    }
                }
                .edus-content-item{
                    animation: user-nav-appear 1s;
                }
                @keyframes user-nav-appear {
                    from{
                        opacity: 0;
                        transform: translateX(50%);
                    }
                    to{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
            }

        }

  }
}
.edus-area-show{
    width: 80%;
    margin: 10vh auto;
    .edus-header{
        h2{
            margin-top: 10px;
            font-weight: 700;
            text-align: center;
            color: rgb(72, 185, 230);
        }
    }
    form{
        .form-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            .field{
                font-size: 0.8rem;

            }
        }

    }



}

.edus-show-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    .edus-show-info-content{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border: dashed 2px #1DA1F2;
        color: #1DA1F2;
    }
}
.avatar-size{
  height: 140px;
  width: 140px;
}

.show-avatar-size{
  height: 50px;
  weight: 50px;
}
