@import 'responsive';

.alert-notice{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.navbar-active{
    border-bottom: 2px solid white;
}

.user-navbar-active{
    background-color: #1DA1F2;
    color: white;
}

.mbtn-primary{
        padding: 10px;
        background-color: #0069D9;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: solid 2px white;
        border-radius: 10px;
        line-height: 1.5;
        text-align: center;
}
.mbtn-primary:hover{
    background-color: white;
    color:#0069D9;
    text-decoration: none;
    border: solid 2px #0069D9;
}
.mbtn-danger{
    padding: 10px;
    background-color: rgb(226, 58, 75);
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    line-height: 1.5;
    text-align: center;
}
.mbtn-danger:hover{
    background-color: white;
    color:rgb(226, 58, 75);
    text-decoration: none;
    border: solid 2px rgb(226, 58, 75);
}

.view-header{
    width: 100%;
    border-bottom: 1px solid #1DA1F2;
    background-color: #f7f7f7;
    span{
        background-color: #1DA1F2;
        color: white;
        padding: 0.5rem 1rem;
        display: inline-block;
    }
    margin: 1rem 0;
}
.view-content{
    padding: 1rem 3rem;
    div{
        span{
            color: blue;
        }
    }
}
.view-header-2{
    width: 100%;
    border-bottom: 5px solid #1DA1F2;
    // border-radius: 1rem;
    // background-color: #f7f7f7;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    span{
        background-color: #1DA1F2;
        color: white;
        padding: 0.5rem 1rem;
        display: inline-block;
        border-radius: 1rem;
        border: 0.5 solid white;
    }
    i{
        padding-right: 1rem;
        border-right: white 3px solid;
    }
}

.my-error-span{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1rem;
    color: red;
    animation: error-span 2s;
    display: inline-block;
    animation-iteration-count: infinite;    
    @keyframes error-span {
        from{
            filter: brightness(0.5);
        }
        to{
            filter: brightness(1.5);
        }
    }
}
.header-span{
    color: blue;
    font-size: 1.1em;
}

// input.form-control{
//     animation: error-span 2s;
//     animation-iteration-count: infinite;
//     // animation-fill-mode: backwards;
//     @keyframes error-span {
//         from{
//             opacity: 0;
//             transform: scale(0.3);
//             filter: hue-rotate(180deg);
//         }
//         to{
//             opacity: 1;
//             transform: scale(1);
//             filter: hue-rotate(0deg);
//         }
//     }
// }
.mcard-body{
    padding: 0.2rem 0.8rem;
    .mbtn-primary{
        min-width: 50%;
        display: block;
        margin: auto;
    }
}