.alert-notice{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.navbar-active{
    border-bottom: 2px solid white;
}

.user-navbar-active{
    background-color: #1DA1F2;
    color: white;
}

.mbtn-primary{
        padding: 10px;
        background-color: #0069D9;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: solid 2px white;
        border-radius: 10px;
        line-height: 1.5;
        text-align: center;
}
.mbtn-primary:hover{
    background-color: white;
    color:#0069D9;
    text-decoration: none;
    border: solid 2px #0069D9;
}
.mbtn-danger{
    padding: 10px;
    background-color: rgb(231, 87, 102);
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    line-height: 1.5;
    text-align: center;
}
.mbtn-danger:hover{
    background-color: white;
    color:rgb(231, 87, 102);
    text-decoration: none;
    border: solid 2px rgb(231, 87, 102);
}

.view-header{
    width: 100%;
    border-bottom: 1px solid #1DA1F2;
    background-color: #f7f7f7;
    span{
        background-color: #1DA1F2;
        color: white;
        padding: 0.5rem 1rem;
        display: inline-block;
    }
    margin: 1rem 0;
}