@import 'responsive';
$header_height:50px;
$body-color:#F7F7F7;


.edus-container{
    .edus-box{
        .stush-header{
            width: 100%;
            // height: 600px;
            background-color: white;
            .stush-header-1{
                width: 100%;
                height: 300px;
                background-image: url("images/stued-background.jpg");
                border: 1px solid gray;
            }
            .stush-header-2{
                width: 100%;
                height: 100px;
                position: relative;
                border-bottom: 1px solid rgb(212, 208, 208);
                .stush-ava{
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    background-image: url("images/sign-up-background.png");
                    left: 5%;
                    bottom: 0%;
                    border: 5px double white;
                    border-radius: 50%;
                }
                .stush-header-2-content{
                    float: right;
                    width: 75%;
                    height: 100px;
                    line-height: 100px;
                    // cursor: pointer;
                    h2{
                        text-align: center;
                        height: 100px;
                        line-height: 100px;
                        float: left;
                    }
                    h3{
                        text-align: center;
                        height: 100px;
                        line-height: 100px;
                        float: left;
                        display: none; 
                    }
                    a{
                        float: right;
                        // margin-right: 50px;
                    }
                }
                // .sh-header-2-content:hover h3{
                //     display: block;
                //     color: green;
                // }
                // .stush-header-2-content:hover h2{
                //     color: green;
                // }
            }
            .stush-header-3{
                width: 100%;
                display: grid;
                // height: 60px;
                // line-height: 60px;
                grid-template-columns: 3fr 7fr 2fr;
                .stush-header-3-left{
                    justify-content: space-evenly;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    div{
                        display: flex;
                        .icon-custom{
                            padding: 10px;
                            width: auto;
                            height: auto;
                            background-color: #1DA1F2;
                            color: white;
                            border: solid 0.5px gray;
                            border-radius: 50%;
                            i{
                                display: flex;
                                justify-content: center;
                            }
                        }
                        span{
                            display: inline-flex;
                            align-self: center;
                        }
                    }
                }
                .stush-header-3-center{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-row-gap: 1em;
                    .stush-header-3-center-sub{
                        display: inline-grid;
                        text-align: center;
                        padding: 10px;
                        .sub-first-line{
                            border-bottom: solid 2px #1DA1F2;
                            font-size: 25px;
                            font-weight: 700;
                            margin-bottom: 20px;
                            vertical-align: bottom;
                        }
                    }
                }
                .stush-header-3-right{
                    position: relative;
                    a{
                        width: fit-content;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            
        }
        .stush-content{
            width: 100%;
            margin: 5rem 0;
            background-color: white;
            position: relative;
            .stush-content-header{
                position: absolute;
                top: -50%;
                left: 0%;
                background-color: #069D86;
                color: white;
                padding: 0 10px 0 10px;
                height: 30px;
                line-height: 30px;
            }
        }
    }
    @include Responsive(XS){
        .edus-box{
            width: 100%;
            .stush-header{
                @include Responsive(XS){
                    width: 100%;
                    .stush-header-2{
                        width: 100%;
                        .stush-ava  {
                            width: 100px;
                            height: 100px;
                            left: 0;
                            img{
                                width: $header_height*2 - 10;
                                height: $header_height*2 - 10;
                            }
                        }
                        .stush-header-2-content{
                            width: 70%;
                            a{
                                padding: 5px;
                            }
                        }
                    }
                    .stush-header-3{
                        display: flex;
                        flex-direction: column;
                        padding: 2rem 0;
                        .stush-header-3-left{
                            display: flex;
                            padding: 1rem;
                            flex-direction: row;
                            font-size: 1.2rem;
                            justify-content: space-around;
                            div{
                                
                                .icon-custom{
                                    padding: 5px;
                                }
                            }
                        }
                        .stush-header-3-center{
                            display: flex;
                            div{
                                flex-grow: 1;
                            }
                        }
                        .stush-header-3-right{
                            position: initial;
                            a{
                                position: initial;
                                margin: 0 auto;
                                transform: initial;
                            }
                        }
                    }
                    
                }
            }
            .regis-area{
                padding: 5rem 1rem;
            }
        }
    }
}


//Edit page

.stued-container{
    width: 100%;
    background-color: #F7F7F7;
    .stued-area{
        width: 80%;
        margin: 0 auto;
        padding:4rem;
        padding-top: 0;
        background-color: white;
        box-shadow: 10px 10px 15px 1px rgba(163, 162, 162, 0.75);
        
    }
    @include Responsive(XS){
        .stued-area{
            width: 100%;
            padding: 2rem;
            margin: 0;
            padding-top: 5rem;
        }
    }
}

#ratings_for_tutor{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    .ratings_left{
        width: 30%;
        padding: 0 1rem;
        .ratings_left_average{
            font-size: 3rem;
        }
        div{
            text-align: center;
        }
        div:nth-child(1){
            span{
                font-size: 1.5rem;
            }
        }
    }
    .ratings_right{
        width: 70%;
        padding: 0 1rem;
        div{
            margin: 0 auto;
        }
        .ratings_right_item{
            margin: 1rem 0;
            display: flex;
            height: 20px;
            .ratings_right_item_number{
                height: 100%;
                line-height: 20px;
                span{
                    // text-align: center;
                }
            }
            .ratings_right_item_graph {
                width: 90%;
                height: 20px;
                
                // background-color: green;
                div{
                    // width: 90%;
                    height: 100%;
                    margin: 0;
                    // background-color: red;
                }
            }
        }
    }
}

img.raty-cancel {
    display: none;
 }

 .index-form{
     padding:  2rem;
     padding-top: 0;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     select{
         margin-right: 1rem;
         width: 20%;
        //  flex-grow: 2;
     }
     input{
        margin-right: 1rem;
        //  flex-grow: 1;
     }
     @include Responsive(XS){
         padding: 0;
         select{
             width: 35%;
         }
     }
 }