<footer>
    <div class="footer-left">
        <h2>About us</h2>
        <p> <i class="far fa-thumbs-up"></i> Bestustu được thành lập từ năm 2020 với số vốn ít ỏi, sau thời gian đã vươn lên trở thành nền tảng tìm gia sư top đầu Việt Nam</p>
        <p> <i class="fas fa-building"></i> Địa chỉ : D9-509 Đại học Bách Khoa Hà Nội</p>
        <p> <i class="fa fa-phone"></i> Phone: 0397871858 </p>
    </div>
    <div class="footer-right">
        <h2>Contact us</h2>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com/Locckhl" >
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/danghuy.dao.9">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="facebook.com/nguyenthihaithanh.04101999">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/nho.xiu.73550">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>